@import 'main/functions';
@import 'main/variables';
@import 'main/mixins';
@import 'main/utilities';
@import 'main/normalize';

$fontA: 'Montserrat', sans-serif;
$fontB: 'Fira Sans', sans-serif;

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}

@mixin retina {
    @media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1300px),
        only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 1300px),
        only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 1300px),
        only screen and (min-device-pixel-ratio: 2) and (min-width: 1300px),
        only screen and (min-resolution: 192dpi) and (min-width: 1300px),
        only screen and (min-resolution: 2dppx) and (min-width: 1300px) {
        @content;
    }
}

a {
    outline: none !important;
}

ul {
    margin: 0;
}

* {
    font: {
        family: 'Open Sans', 'Open Sans Condensed', sans-serif;
        weight: normal;
        size: 100%;
    }
}

html {
    margin: 0 !important;

    overflow: {
        x: hidden;
        y: scroll;
    }

    width: 100%;
    max-width: 100%;
    line-height: 1;
}

body {
    margin: 0;
    width: 100%;
    max-width: 100%;
    overflow: hidden;

    * {
        font-family: $fontA;
    }
}

// Grid mixins
@import 'main/grid';
@import 'main/utilities/flex';

.header {
    display: block;
    margin-bottom: 30px;

    &__i {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0;
        margin: 0 -10px;

        > * {
            margin: 0 10px;
        }
    }

    &__logo {
        transition: all .3s;

        &:hover {
            opacity: 0.8;
        }
    }

    &-search {
        background: #F7F7F7;
        border-radius: 3px;
        display: flex;
        align-items: stretch;
        justify-content: space-between;

        input {
            height: 43px;
            min-width: 250px;
            padding: 0 15px;

            @include placeholder {
                font-size: 14px;
                line-height: 17px;
                letter-spacing: -0.01em;
                color: rgba(78, 78, 78, 0.5);
                
            }
        }

        button {
            width: 43px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: all .3s;
            color: #4775B8;

            &:hover {
                transform: translate3d(-3px, 0, 0);
            }
        }
    }

    &__currency {
        font-size: 16px;
        color: #474747;
        display: flex;
        align-items: center;
        

        select {
            font-size: 18px;
            color: #4775B8;
            appearance: none;
            display: block;
            margin-left: 7px;
            cursor: pointer;
            
        }
    }

    &-contacts {
        text-align: center;

        &__phone {
            display: block;
            font-size: 19px;
            line-height: 1.34;
            color: #474747;
            transition: all .3s;
            
        }

        &__email {
            font-size: 16px;
            line-height: 1.34;
            color: #474747;
            transition: all .3s;
            
        }

        a:hover {
            color: #4775B8;
        }
    }

    &__callback {
        background: #E5463C;
        box-shadow: 0px 0px 12px rgba(235, 76, 66, 0.6);
        border-radius: 3px;
        font-size: 18px;
        color: #FFFFFF;
        padding: 12px 18px;
        cursor: pointer;
        transition: all .3s;
        

        &:hover {
            box-shadow: 0px 0px 16px rgba(235, 76, 66, 0.8);
            opacity: 0.8;
        }
    }

    &__lang {
        display: flex;
        align-items: center;
        position: relative;

        select {
            font-size: 18px;
            color: #4775B8;
            appearance: none;
            padding-right: 15px;
            cursor: pointer;
            
        }

        &:after {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            content: '\e900';
            font-family: 'icomoon' !important;
            font-size: 11px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #4775B8;
            width: 15px;
            pointer-events: none;
        }
    }
    
    &__bottom {
        background: #42A0EB;
        box-shadow: 0px 4px 22px rgba(66, 160, 235, 0.05);
    }

    &__menu {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            position: relative;
            font-size: 18px;
            color: #FFFFFF;
            padding: 18px 25px;
            transition: all .3s;
            

            &:hover {
                color: rgba(255,255,255, .7);
                transform: translate3d(0, -3px, 0);

                &:after {
                    transform: translate3d(0, 3px, 0);
                }
            }

            &:not(:last-child):after {
                content: '';
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto 0;
                width: 1px;
                height: 13px;
                background: #fff;
                display: block;
                transition: all .3s;
            }
        }
    }
}

.page {
    &404 {
        position: relative;
        padding: 20px 0 50px;

        &__bg {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            text-align: center;
            
            font-weight: bold;
            font-size: 220px;
            line-height: 306px;
            color: #FFFFFF;
            text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.08);
            z-index: 1;
        }

        &__title {
            position: relative;
            z-index: 2;
            font-weight: 600;
            font-size: 185px;
            line-height: 226px;
            color: #42A0EB;
            text-align: center;
            
        }

        &__subtitle {
            position: relative;
            z-index: 2;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            color: #42A0EB;
            
        }

        &__button {
            background: #EB4C42;
            border-radius: 3px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-weight: bold;
            font-size: 15px;
            line-height: 18px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #FFFFFF;
            
            padding: 14px 50px;
            margin-top: 50px;
        }
    }

    &--gray {
        background: rgba(66, 160, 235, 0.02);
    }

    &__subtitle {
        font-size: 17px;
        line-height: 27px;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        color: #ABABAB;
        
    }

    &__title {
        font-size: 50px;
        line-height: 1;
        margin: 5px 0 35px;
        color: #4F4F4F;
        padding-left: 20px;
        border-left: 6px solid #42A0EB;
        font-family: $fontB;
    }

    &__text {
        font-weight: 300;
        font-size: 19px;
        line-height: 135%;
        color: #474747;

        b, strong {
            font-weight: bold;
            display: inline-block;
        }
    }

    &__space {
        display: block;
        height: 50px;
    }

    &__center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__button {
        margin-top: 20px;
        background: #FFFFFF;
        border: 2px solid #EB4C42;
        box-shadow: 0px 0px 10px rgba(235, 76, 66, 0.2);
        border-radius: 3px;
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        color: #EB4C42;
        padding: 13px 30px;
        transition: all .3s;
        cursor: pointer;
        

        &:hover {
            background: #EB4C42;
            color: #fff;
        }
    }

    &-info {
        position: relative;
        background: no-repeat center / cover;
        padding: 100px 0;
        margin: 50px 0;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, rgba(66, 160, 235, 0.5), rgba(66, 160, 235, 0.5));
            z-index: 1;
        }

        >* {
            position: relative;
            z-index: 2;
        }

        &__text {
            font-weight: bold;
            font-size: 27px;
            line-height: 1.49;
            color: #FFFFFF;
            display: block;
            margin-bottom: 50px;
        }

        &__action {
            background: rgba(255, 255, 255, 0.12);
            border: 3px solid #FFFFFF;
            border-radius: 3px;
            font-weight: bold;
            font-size: 15px;
            line-height: 18px;
            text-align: center;
            display: inline-flex;
            padding: 18px 45px;
            color: #FFFFFF;
            cursor: pointer;
            transition: all .3s;

            &:hover {
                background: #fff;
                color: #42a0eb;
            }
        }
    }
}

.block01 {
    box-shadow: 0px 0px 26px rgba(110, 177, 232, 0.6);
    height: 308px;
    border-radius: 7px;
    position: relative;
    background: no-repeat right top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    transition: all .3s;
    margin-bottom: 30px;

    &:hover {
        box-shadow: 0px 0px 26px rgba(110, 177, 232, 1);
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 7px;
        z-index: -1;
        background: linear-gradient(253.42deg, #80C7FF -3.66%, #429FEB 120.53%);
    }

    &__title {
        font-size: 35px;
        line-height: 52px;
        text-align: center;
        color: #FFFFFF;
        display: block;
        margin-bottom: 10px;
        transition: all .3s;
        font-family: $fontB;
    }

    &:hover &__title {
        transform: translate3d(0, -5px, 0);
    }

    &__subtitle {
        font-size: 14px;
        line-height: 1.234;
        text-align: center;
        color: #FFFFFF;
        
    }
}

.block02 {
    display: block;
    margin-bottom: 30px;
    padding-top: 5px;

    &__image {
        border-radius: 3px;
        display: block;
        height: 350px;
        background: no-repeat center / cover;
        transition: all .3s;
    }

    &__title {
        font-weight: 500;
        font-size: 23px;
        line-height: 1.34;
        color: #474747;
        display: block;
        margin-top: 10px;
        
        transition: all .3s;
    }

    &:hover &__image {
        transform: translate3d(0, -5px, 0);
    }

    &:hover &__title {
        color: #42a0eb;
    }
}


.owl-carousel {
    position: relative;

    .owl-nav {
        position: absolute;
        top: -75px;
        right: 0;
        display: flex;
        align-items: stretch;

        .owl-prev, .owl-next {
            border: 2px solid rgba(66, 160, 235, 0.3) !important;
            display: block;
            height: 50px;
            width: 50px;
            border-radius: 3px;
            transition: all .3s;
            color: rgba(66, 160, 235, 0.3) !important;

            &:hover {
                border-color: #42A0EB !important;
                color: #42A0EB !important;
            }
        }

        .owl-next {
            margin-left: 15px;
        }
    }
}

.product {
    display: block;
    margin-bottom: 30px;
    position: relative;
    padding-top: 5px;

    &__image {
        height: 350px;
        position: relative;
        border-radius: 3px;
        display: block;
        margin-bottom: 10px;
        transition: all .3s;
    }

    &__label {
        position: absolute;
        left: 11px;
        top: 11px;
        background: rgba(249, 249, 249, 0.4);
        padding: 10px 15px;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        display: flex;
        align-items: center;
        letter-spacing: -0.01em;
        color: #FFFFFF;
        
    }

    &__favorite {
        position: absolute;
        right: 11px;
        top: 11px;
        color: #fff;
        font-size: 21px;
        cursor: pointer;

        &:before {
            content: '\e909';
            font-family: 'icomoon' !important;
        }

        &--active {
            &:before {
                content: '\e908';
            }
        }
    }

    &__category {
        font-size: 14px;
        line-height: 17px;
        color: #A5A5A5;
        
        display: block;
        margin-bottom: 10px;
    }

    &__title {
        font-weight: 500;
        font-size: 15px;
        line-height: 1.455;
        letter-spacing: -0.01em;
        color: #474747;
        display: block;
        margin-bottom: 15px;
        
    }

    &__price {
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: #42A0EB;
        display: block;

        span {
            font-size: 19px;
        }
    }

    &__action {
        background: #EB4C42;
        border-radius: 3px;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        color: #FFFFFF;
        
    }

    &__hover {
        background: #fff;
        border-radius: 0 0 3px 3px;
        padding: 15px;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 5;
        transition: all .3s;
    }

    &:hover &__hover {
        opacity: 1;
        visibility: visible;
    }

    &:hover &__image {
        transform: translate3d(0, -5px, 0);
    }
}

.realtor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    padding-top: 5px;

    &-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 25px;

        &__title {
            display: block;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #3F3F3F;
            margin-bottom: 15px;
        }

        &__link {
            font-weight: 600;
            font-size: 17px;
            line-height: 21px;
            color: #474747;
            transition: all .3s;

            &:hover {
                color: #42A0EB;
            }
        }

        &__social {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin: 0 -10px;

            a {
                margin: 0 10px;
                transition: all .3s;

                &:hover {
                    opacity: 0.8;
                    transform: translate3d(0, -3px, 0);
                }
            }
        }
    }

    &-p {
        &__image {
            width: 100%;
            border-radius: 50%;
        }

        &__title {
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            color: #474747;
            display: flex;
            align-items: flex-end;
            margin-bottom: 20px;

            span {
                font-weight: 500;
                font-size: 18px;
                line-height: 1.34;
                letter-spacing: -0.01em;
                color: #42A0EB;
                margin-left: 15px;
            }
        }
    }

    &__image {
        width: 250px;
        height: 250px;
        max-width: 250px;
        max-height: 250px;
        border-radius: 50%;
        object-fit: cover;
        display: block;
        margin-bottom: 15px;
        transition: all .3s;
    }

    &__title {
        
        font-weight: 600;
        font-size: 20px;
        line-height: 1.34;
        text-align: center;
        letter-spacing: -0.01em;
        color: #474747;
        display: block;
        margin-bottom: 7px;
        transition: all .3s;
    }

    &__subtitle {
        font-size: 15px;
        line-height: 1.21;
        text-align: center;
        color: #474747;
        display: block;
        
    }

    &:hover &__title {
        color: #42a0eb;
    }

    &:hover &__image {
        transform: translate3d(0, -5px, 0);
    }
}

.news {
    display: block;
    margin-bottom: 30px;

    &__image {
        height: 250px;
        border-radius: 3px;
        display: block;
        margin-bottom: 15px;
        transition: all .3s;
    }

    &__date {
        font-size: 12px;
        line-height: 1;
        color: #A3A3A3;
        margin-bottom: 10px;
        display: block;
        
    }

    &__title {
        
        font-weight: 500;
        font-size: 16px;
        line-height: 1.57;
        letter-spacing: -0.01em;
        color: #474747;
        transition: all .3s;
    }

    &:hover &__title {
        color: #42a0eb;
    }

    &:hover &__image {
        transform: translate3d(0, -5px, 0);
    }
}

.footer {
    background: rgba(66, 160, 235, 0.11);
    margin-top: 30px;
    padding-top: 30px;

    &-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        border-top: 1px solid #DFDFDF;
        padding: 15px 0 19px;

        >* {
            font-weight: 300;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;
            color: #707274;
            
        }

        a {
            transition: all .3s;

            &:hover {
                color: #42a0eb;
            }
        }
    }

    &__logo {
        display: block;
        margin-bottom: 20px;
        transition: all .3s;

        &:hover {
            opacity: 0.8;
            transform: translate3d(0, -3px, 0);
        }
    }

    &-menu {
        display: block;
        margin-bottom: 20px;

        &__title {
            width: 100%;
            display: block;
            font-weight: 300;
            font-size: 14px;
            line-height: 1.2;
            color: rgba(81, 81, 81, 0.8);
            margin-bottom: 7px;
        }

        &__item {
            font-weight: 500;
            font-size: 16px;
            line-height: 23px;
            display: flex;
            align-items: center;
            color: #474747;
            
            transition: all .3s;

            &:hover {
                color: #42A0EB;
            }
        }
    }

    &__social {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        a {
            margin-right: 15px;
            display: block;
            transition: all .3s;

            &:hover {
                opacity: 0.8;
                transform: translate3d(0, -3px, 0);
            }
        }
    }

    &-form {
        display: block;
        margin-top: 10px;
        
        &__input {
            background: #FFFFFF;
            border: 1px solid #42A0EB;
            box-sizing: border-box;
            border-radius: 3px;
            padding: 9px 15px;
            margin-bottom: 10px;
            width: 100%;
            

            @include placeholder {
                font-size: 14px;
                line-height: 17px;
                color: #B6B6B6;
                
            }
        }

        &__button {
            background: #42A0EB;
            border-radius: 3px;
            font-weight: bold;
            font-size: 15px;
            line-height: 18px;
            text-align: center;
            
            color: #FFFFFF;
            padding: 10px 30px;
            width: 100%;
            display: block;
            cursor: pointer;
            transition: all .3s;

            &:hover {
                opacity: 0.8;
            }
        }
    }
}

.seo-text {
    height: 150px;
    overflow: hidden;
    display: flex;
    align-items: flex-start;

    &--open {
        height: auto;
    }

    &__content {
        font-weight: 300;
        font-size: 16px;
        line-height: 1.6;
        letter-spacing: -0.01em;
        color: #515151;

        h1, h2, h3 {
            font-size: 30px;
            line-height: 36px;
            color: #474747;
            display: block;
            font-family: $fontB;
            margin-bottom: 15px;
        }
    }

    &__toggle {
        position: relative;
        cursor: pointer;
        margin: 50px 0 0 50px;
        min-width: 44px;
        width: 44px;
        height: 44px;
        background: #EB4C42;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            width: 14px;
            height: 2px;
            background: #fff;
        }

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            width: 2px;
            height: 14px;
            background: #fff;
        }
    }

    &--open &__toggle:after {
        display: none;
    }
}

.product-page {
    &__title {
        font-weight: 500;
        font-size: 26px;
        line-height: 31px;
        color: #474747;
        display: block;
        font-family: $fontB;
        margin-bottom: 30px;
    }

    &-buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;

        &__first {
            padding: 14px 30px;
            background: #FFFFFF;
            border: 2px solid #42A0EB;
            border-radius: 3px;
            font-weight: bold;
            font-size: 15px;
            line-height: 18px;
            text-align: center;
            flex-grow: 1;
            color: #42A0EB;
            cursor: pointer;
            transition: all .3s;

            &:hover {
                background: #42A0EB;
                color: #fff;
            }
        }

        &__last {
            margin: 0 20px;
            flex-grow: 1;
            border: 2px solid #EB4C42;
            background: #EB4C42;
            border-radius: 3px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 14px 30px;
            font-weight: bold;
            font-size: 15px;
            line-height: 18px;
            text-align: center;
            color: #FFFFFF;
            cursor: pointer;
            transition: all .3s;

            &:hover {
                opacity: 0.8;
            }
        }

        &__favorite {
            color: #42A0EB;
            font-size: 21px;
            cursor: pointer;

            &:before {
                content: '\e909';
                font-family: 'icomoon' !important;
            }

            &--active:before {
                content: '\e908';
            }
        }
    }

    &-attrs {
        

        &__row {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin: 0 -30px;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #474747;

            .big {
                font-weight: bold;
                font-size: 24px;
                line-height: 29px;
                color: #474747;
                
                span {
                    font-size: 15px;
                }
            }

            >* {
                padding: 7px 30px;
                
                &:first-child {
                    min-width: 25%;
                    max-width: 25%;
                }
            }
        }
    }

    &-files {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;

        &__item {
            display: flex;
            align-items: center;
            font-weight: 500;
            font-size: 17px;
            line-height: 21px;
            color: #474747;
            
            padding: 10px 18px;
            cursor: pointer;
            border-radius: 3px;
            transition: all .3s;

            &:before {
                display: block;
                content: '\e904';
                font-family: 'icomoon' !important;
                margin-right: 9px;
                color: #42A0EB;
                font-size: 21px;
                transition: all .3s;
            }

            &:hover {
                background: #42A0EB;
                color: #fff;

                &:before {
                    color: #fff;
                }
            }
        }
    }

    &__map {
        width: 100%;
        height: 500px;
        display: block;
        margin-top: 40px;
    }
}

.product-carousel {
    &-container {
        padding-left: 100px;
        position: relative;
        padding-bottom: 30px;
    }

    .owl-dots {
        position: absolute;
        left: -100px;
        top: 0;
        height: calc(100% + 7px);
        width: 90px;
        padding-right: 5px;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .owl-dot {
            height: calc(20% - 7px) !important;
            min-height: calc(20% - 7px);
            display: block;
            width: 100%;
            margin-bottom: 7px;
            background: no-repeat center / cover;
            transition: all 0.3s;

            &:hover {
                transform: translate3d(5px, 0, 0);
            }

            &.active {
                transform: translate3d(5px, 0, 0);
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.bread {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    li {
        list-style: none;

        a {
            
            font-weight: bold;
            font-size: 15px;
            line-height: 18px;
            color: #429FEB;
            display: flex;
            padding-bottom: 5px;
            align-items: center;
            transition: all .3s;
            
            &:after {
                content: '';
                height: 1px;
                width: 12px;
                background: #429FEB;
                display: block;
                margin: 0 13px;
                transition: all .3s;
            }

            &:hover {
                transform: translate3d(0, -3px, 0);

                &:after {
                    transform: translate3d(0, 3px, 0);
                }
            }
        }

        &:last-child a {
            font-weight: normal;
            color: rgba(165, 165, 165, 0.7);

            &:after {
                display: none;
            }
        }
    }
}

.carousel03 .product {
    padding-bottom: 85px;

    &__hover {
        bottom: 0;
        top: initial;
    }
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

    li {
        list-style: none;

        a, span {
            background: #FFFFFF;
            border: 1px solid rgba(66, 160, 235, 0.3);
            box-sizing: border-box;
            border-radius: 3px;
            margin: 6px;font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #42A0EB;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .3s;
        }

        &.active, &:hover {
            a, span {
                background: #42A0EB;
                box-shadow: 0px 0px 12px rgba(66, 160, 235, 0.6);
                color: #fff;
            }
        }
    }
}

.news {
    &-search {
        display: flex;
        align-items: stretch;
        margin-bottom: 30px;
    
        input {
            flex-grow: 1;
            background: #FFFFFF;
            border: 1px solid rgba(66, 160, 235, 0.3);
            border-radius: 3px 0 0 3px;
            border-right: 0;
            padding: 5px 20px;
        }
    
        button {
            background: #42A0EB;
            border-radius: 0 3px 3px 0;
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            color: #FFFFFF;
            padding: 17px 50px;
            transition: all .3s;
            cursor: pointer;
    
            &:hover {
                box-shadow: 0 0 12px rgba(66,160,235,.6);
            }
        }
    }

    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 25px;

        &__title {
            font-weight: 500;
            font-size: 26px;
            line-height: 31px;
            color: #474747;
            display: block;
            font-family: $fontB;
        }

        &__date {
            display: block;
            font-weight: 500;
            font-size: 15px;
            line-height: 1.89;
            letter-spacing: -0.01em;
            color: rgba(71, 71, 71, 0.7);
        }
    }

    &__image {
        display: block;
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 3px;
        margin-bottom: 25px;
    }
}

.jobs-item {
    background: #FFFFFF;
    border: 1px solid rgba(66, 160, 235, 0.3);
    box-sizing: border-box;
    padding: 35px 25px;
    margin-bottom: 30px;
    display: flex;
    align-items: flex-start;
    transition: all .3s;

    &:hover {
        box-shadow: 0 0 12px rgba(66,160,235,.6);
    }

    &__header {
        display: flex;
        align-items: flex-end;
        margin-bottom: 25px;
    }

    &__title {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #474747;
    }

    &__price {
        font-weight: bold;
        font-size: 27px;
        line-height: 33px;
        color: #42A0EB;
        display: block;
        margin-left: 15px;
    }

    &__date {
        font-weight: 500;
        font-size: 15px;
        line-height: 1.89;
        color: #C4C4C4;
        display: block;
        margin-left: 15px;
    }

    &__text {
        font-weight: 300;
        font-size: 18px;
        line-height: 1.34;
        color: #474747;
    }

    &__city {
        font-weight: 600;
        font-size: 14px;
        line-height: 1;
        padding: 8px 24px;
        color: #EB4C42;
        border: 1.5px solid #EB4C42;
        border-radius: 3px;
        margin-left: 15px;
    }
}

.ocfilter {

    &-search {
        display: flex;
        align-items: stretch;
        margin-bottom: 5px;
    
        input {
            flex-grow: 1;
            background: #FFFFFF;
            border: 1px solid rgba(66, 160, 235, 0.3);
            border-radius: 3px 0 0 3px;
            border-right: 0;
            padding: 5px 20px;
        }
    
        button {
            background: #42A0EB;
            border-radius: 0 3px 3px 0;
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            color: #FFFFFF;
            padding: 17px 50px;
            transition: all .3s;
            cursor: pointer;
    
            &:hover {
                box-shadow: 0 0 12px rgba(66,160,235,.6);
            }
        }
    }

    #ocfilter-content {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: 0 -6px;
        padding-bottom: 15px;
    }

    &__reset {
        width: calc(16.6666% - 12px);
        display: flex;
        align-items: center;
        justify-content: center;
        background: #F8FBFF;
        border: 2px solid rgba(71, 71, 71, 0.5);
        border-radius: 3px;
        padding: 14px 16px;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: rgba(71, 71, 71, 0.5);
        font-weight: bold;
        transition: all .3s;
        cursor: pointer;
        
        &:hover {
            background: #42a0eb;
            color: #fff;
            border-color: #42a0eb;
        }
    }

    &-option {
        margin: 10px 6px;
        width: calc(16.6666% - 12px);

        .option {
            &-name {
                display: flex;
                align-items: center;
                justify-content: space-between;
                background: #FFFFFF;
                box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.11);
                border-radius: 3px;
                padding: 16px;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                color: #474747;
                transition: all .3s;
                cursor: pointer;

                &:after {
                    height: 100%;
                    content: '\e900';
                    font-family: 'icomoon' !important;
                    font-size: 11px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #4775B8;
                    width: 15px;
                    pointer-events: none;
                    margin-left: 10px;
                }
            }

            &-values {
                position: absolute;
                opacity: 0;
                visibility: hidden;
                pointer-events: none;
                transition: all .3s;
                transform: translate3d(0, 10px, 0);
                background: #FFFFFF;
                box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.11);
                border-radius: 3px;
                padding: 10px 15px;
                z-index: 20;
                max-width: 320px;

                label {
                    display: block;
                    
                    a {
                        color: #000;
                        padding: 3px 0;
                        display: block;
                    }
                }
            }
        }

        &:hover .option {
            &-values {
                opacity: 1;
                visibility: visible;
                pointer-events: all;
                transform: translate3d(0, 0, 0);
            }

            &-name {
                background: #42a0eb;
                color: #fff;
            }
        }

        &:hover .option-nMW, &.active .option-name {
            background: #42a0eb;
            color: #fff;
        }
    }
}